.profile_image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    background-position: center;
    background-size: contain;
}

h1 {
    text-align: center;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 90%;
    cursor: pointer;

    li {
        margin-left: 10px;

        &.active {
            text-decoration: underline;
        }
    }

    
}