
.list-container {
    background-color: white;
    padding: 0 1.5em;
    .list-item, .first-item {
        scroll-snap-align: start;
        margin-top: 5px;
        display: flex;
        position: relative;
        min-height: 60px;
        a {
            text-decoration: inherit;
            width: 100%;
            color: inherit;
            cursor: auto;
        }
        h3 {
            margin: 0;
        }
        .img {
            font-family: 'Montserrat';
            display: grid;
            justify-content: center;
            align-items: center;
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            border-radius: 10px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .info {
            display: flex;
            width: 100%;
            margin-left: 20px;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: .7em;
            .text {      
                cursor: pointer;  
                width: 100%;
                .track-name, a {
                    font-weight: 300;
                    display: inline;
                }

            }
            .duration {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        hr{
            position: absolute;
            height: 1px;
            bottom: 0;
            left: 30px;
            width: calc(100% - 60px);
            margin: 0;
            border: none;
            background-color: #7F7F7F;
            opacity: .5;
        }

    }
    .first-item {
        position: sticky;
        bottom: -1px;
        z-index: 1;
        // background-color: #FDF5F3;
        background-color: #ffffff;

        .text {
            margin: 0;
            text-align: center;


            p {
                margin: 0;
             }
        }

    }

}


@media only screen and (min-width: 1300px) { 
    .list-container {
        padding: 0 3.5em;
    }
}



.ng-lazyloaded {
    animation: fadein .5s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }