:host {
  height: 100%;
}
.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 30px;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  h3,
  p {
    margin: 0;
    width: 80%;
  }
  .about-context,
  .logout-context {
    // margin-top: 20px;
    padding-left: 30px;
    position: relative;
    &.active {
      border-left: grey 1px solid;
    }
  }
  .close {
    cursor: pointer;
    text-align: end;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .img {
    width: 60px;
    height: 60px;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
  }

  .icons-con {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .logo,
    .github {
      width: 60px;
      height: 60px;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .logo {
      background-image: url(/assets/Topify-logo-black.svg);
    }
    .github {
      background-image: url(/assets/GitHub-Mark-64px.png);
    }
  }
}
