<div class="about-container">
  <h1>Topify</h1>
  <p class="description">Topify is a progressive web application built with Angular & Spotify’s web api.
    designed with a clean UI & an intuitive UX,
    the application displays the user’s top artists, tracks, albums & genres and suggests playlists based on them.</p>
    <h3>Spotify access</h3>
    <p>Topify requires a Spotify account. It also needs access to your Spotify account.</p>
    <h3>Privacy</h3>
    <p>Topify is open source and works as client side. Topify does not save your Spotify data to any server.</p>
    <h3>Credits</h3>
    <p>Topify built for learn popurses.we are sure that the code can be batter, any sugesttion to improve it will be welcome</p>
    
    <span>UI/UX: Ben Ben Harush</span>
    <span>Developer: Tamir Azizi</span>
    <!-- <a href="" (click)="goBack()">Back</a> -->
    <div class="icons-con">
      <div class="logo"></div>
      <a href="https://github.com/tamirazi/Topify" target="_blank"><div class="github"></div></a>
    </div>
</div>
