:host {
  animation: fadeInLeft 0.3s;
  height: 100%;

  .row {
    display: flex;
    align-items: baseline;
  }
}
.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 0px 5vh 5vh;
  box-sizing: border-box;
  width: 90%;
  max-width: 700px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  opacity: 1;
  color: #2a2a2a;
  

  &.login {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: unset;
    justify-content: center;
    width: 100%;
    padding: 5vh;
    overflow-y: auto;
    

    p {
      width: 100%;
    }
  }
  img {
    width: auto;
    height: 50%;
  }

  h3 {
    margin: 0px 0px 2px 0px !important;
    font-size: 12px;
  }
  p {
    margin: 0px 0px 15px 0px;
    width: 80%;
  }

  .about-context,
  .logout-context {
    padding-left: 15px;
    position: relative;
    border-left: #00000000 1px solid;
    &.active {
      border-left: #7f7f7f 1px solid;
      transform: translateX(5px);
      transition: transform 1s;
      padding-left: 30px;
    }
  }
  .logout-context {
    display: grid;
    grid-template-columns: 90px;
    grid-template-rows: 80px;
    grid-template-areas: ". .";
    .text {
      grid-column: 2;
      width: 100%;
      padding-left: 10px;
    }
  }
  .close {
    cursor: pointer;
    text-align: end;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    transition: transform 0.3s;
    z-index: 5;
    background-image: url(/assets/right-arrow.svg);
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
  }
  .img {
    width: 80px;
    height: 80px;
    background-size: contain;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 1;
  }
  .logout {
    cursor: pointer;
    width: 0.75rem;
    height: 0.75rem;
    background-image: url(/assets/logout.svg);
    background-size: contain;
    margin-left: 10px;
  }

  .github {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/GitHub-Mark-64px.png);
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    margin: 0;
    width: 100%;
    padding: 75px 15px;
    img {
      display: none;
    }
    p {
      width: 100%;
    }
    .about-context,
    .logout-context {
      padding: 0 15px;
      &.active {
        border-left: none;
      }
    }
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

