<div class="about-container">
  <div class="close" (click)="close()">&#8677;</div>
  <div class="about-context" [ngClass]="{ active: option === 'about' }">
    <p class="description">
      Topify is a PWA built with Angular & Spotify’s web api. designed with a
      clean UI & an intuitive UX, the application displays the user’s top
      artists, tracks, albums & genres and suggests playlists based on them.
    </p>

    <h3>Privacy & Terms of use</h3>
    <p>
      Topify is open source and works as a client side application. it requires
      a Spotify account and a granted acsses to your Spotify information. Topify
      does not save or make any use of your data & information.
    </p>
    <h3>Credits</h3>
    <span>UI/UX: Ben Ben Harush</span> <br />
    <span>Developement: Tamir Azizi</span>
    <p>
      Topify was built for learning popurses and practice. we're sure it can be
      batter, any sugesttions for improvement will be more then welcome.
    </p>
  </div>
  <div class="logout-context" [ngClass]="{ active: option === 'logout' }">
    <div class="text">
      <div class="row">
        <h3>Logout</h3>
        <div (click)="logout()" class="logout"></div>
      </div>

      <p>
        If you want to switch to a different Spotify account, Go to
        <a target="_blank" href="https://accounts.spotify.com/">Spotify</a>
        and Log out from the current account. Then logout from Topify and sign
        in with a different Spotify account.
      </p>
    </div>
    <div class="img" [lazyLoad]="userImgUrl"></div>
  </div>
</div>
