<div class="page">
    <div class="header">
        <app-menu></app-menu>

        
        <div class="logo"></div>
    </div>
    <div *ngIf="!isMobile" class="desktop-container">
        <div class="left">
            <app-list class="desktop-list" [time]="time" [type]="type" [list]="list" [imageUrlToAllListItem]="image" (savePlaylistEmitter)="createPlaylist($event)"></app-list>
        </div>
    
        <div class="right">
            <ul class="type-nav" >
                <li class="nav-item active" (click)="resetIndex()" [routerLink]="['/home', time, 'artist']" [ngClass]="{active: type === 'artist'}">Top Artist</li>
                <li class="nav-item" (click)="resetIndex()" [routerLink]="['/home', time, 'track']" [ngClass]="{active: type === 'track'}">Top Track</li>
                <li class="nav-item" (click)="resetIndex()" [routerLink]="['/home', time, 'album']" [ngClass]="{active: type === 'album'}">Top Album</li>
                <li class="nav-item" (click)="resetIndex()" [routerLink]="['/home', time, 'genre']" [ngClass]="{active: type === 'genre'}">Top Genre</li>
            </ul>

            <div class="res-container">
                <div class="time-nav-container">
                    <ul class="time-nav">
                        <li class="nav-item active" (click)="resetIndex()" [routerLink]="['/home', 'top', type]" [ngClass]="{active: time === 'top'}">All Time</li>
                        <li class="nav-item" (click)="resetIndex()"  [routerLink]="['/home', 'recent', type]" [ngClass]="{active: time === 'recent'}">Recent</li>
                    </ul>
                </div>
                <div class="index-buttons">
                    <div class="down" (click)="downIndex()">&#9664;</div>
                    <div class="up" (click)="upIndex()">&#9654;</div>
                </div>
                <div *ngIf="image" class="img" [lazyLoad]="image"></div>
                <div class="info">
                    <div class="h3">{{result}}</div>
                    <div class="h3-description">{{description}}</div>
                </div>
            </div>
            <div class="index-bg">
                <h1 class="index">0{{index % 3 + 1}}</h1>
                <ul class="index-check">
                    <li class="index-check-item" [ngClass]="{active: index % 3 == 0}"></li>
                    <li class="index-check-item" [ngClass]="{active: index % 3 == 1}"></li>
                    <li class="index-check-item" [ngClass]="{active: index % 3 == 2}"></li>
                </ul>
            </div>
        </div>

    </div>

    <div *ngIf="isMobile" class="mobile-container">
        <div class="left">
            <div class="index-buttons">
                <div class="down" (click)="downIndex()">&#9664;</div>
                <div class="up" (click)="upIndex()">&#9654;</div>
            </div>
            <div class="index-bg">
                <h1 class="index">0{{index % 3 + 1}}</h1>
                <ul class="index-check">
                    <li class="index-check-item" [ngClass]="{active: index % 3 == 0}"></li>
                    <li class="index-check-item" [ngClass]="{active: index % 3 == 1}"></li>
                    <li class="index-check-item" [ngClass]="{active: index % 3 == 2}"></li>
                </ul>
            </div>
            <div *ngIf="image" class="img" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
        </div>
        <div class="right">
            <app-slick-nav [type]="type" [time]="time"></app-slick-nav>
            <div class="info">
                <div class="h3">{{result}}</div>
                <div class="h3-description">{{description}}</div>
            </div>
        </div>
    </div>
    <div class="time-nav-container">
        <ul class="time-nav">
            <li class="nav-item active" (click)="resetIndex()" [routerLink]="['/home', 'top', type]" [ngClass]="{active: time === 'top'}">All Time</li>
            <li class="nav-item" (click)="resetIndex()"  [routerLink]="['/home', 'recent', type]" [ngClass]="{active: time === 'recent'}">Recent</li>
        </ul>
    </div>
    <app-list class="mobile-list" *ngIf="isMobile" [time]="time"  [type]="type" [list]="list" [imageUrlToAllListItem]="image" (savePlaylistEmitter)="createPlaylist($event)"></app-list>
    <div class="bg"></div>
</div>
