.logo {
  z-index: 1;
  width: 42px;
  height: 42px;
  margin-bottom: -14px;
  background-image: url(/assets/Topify-logo-white.svg);
  cursor: pointer;
}
.header {
  width: 90%;
  height: 70px;
  max-width: 1300px;
  position: absolute;
  top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  app-menu {
    z-index: 30;
  }
  &.about {
    display: none;
  }
}
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  overflow: hidden;

  .mobile-container {
    max-width: 1300px;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    padding-top: 5vw;

    .left {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 115%;
      height: 100%;

      .img {
        z-index: 1;
        width: 65%;
        height: 70%;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .right {
      width: 76%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      app-slick-nav {
        width: 150px;
        position: relative;
        margin-left: 5px;
      }

      .info {
        margin-left: 9%;
        font-family: "Teko", sans-serif;
        font-size: 6vw;
        width: 70%;
        line-height: 1;

        .h3-description {
          font-size: 2.5vw;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          color: black;
          opacity: 0.5;
        }
      }
    }
  }

  .mobile-list {
    width: 90%;
  }
}

.ng-lazyloaded {
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  transition: background-color 0.5s, height 0.5s, width 0.7s;
  height: 30%;
  width: 47%;
  background-color: var(--first-color);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  &.about {
    height: 15px;
    width: 100%;
    transition: height 0.5s, width 0.7s;
  }
}

::-webkit-scrollbar {
  width: 2px;
}
