@media only screen and (min-width: 768px) {
  .header {
    position: unset;
    width: 82%;
    max-width: 1300px;
    height: 12%;
    margin: auto 0 0 0;
    .right-panel {
      font-family: "Montserrat", sans-serif;
      display: flex;
      justify-content: center;
      margin-bottom: -25px;
      h3 {
        font-weight: 300;
        font-size: 12px;
        margin: 0 0 0 20px;
        color: #2a2a2a;
      }
      .about,
      .logout {
        cursor: pointer;
      }
      .logout {
        width: 12px;
        height: 12px;
        margin: 2px auto auto 5px;
        background-image: url(/assets/logout.svg);
        background-size: contain;
        opacity: 0.8;
      }
    }
    &.about {
      display: flex;
    }
  }
  .page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;

    .desktop-container {
      display: flex;
      flex-wrap: nowrap;
      max-width: 1400px;
      width: 88%;
      height: 88%;
      margin: auto;

      .left {
        padding: 3em 2.8em 1em 2.8em;
        display: flex;
        flex-grow: 1;
        flex-basis: 430px;
        z-index: 100;
        min-height: 500px;
        height: 85%;
        position: relative;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
        border: var(--second-color) 4px solid;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: -5px;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 20px;
          transition: border 0.5s;
        }

        &.fill {
          background-color: var(--second-color);
          transition: background-color 0.5s;
          align-items: flex-end;
          h1 {
            color: white;
            font-family: "Montserrat", sans-serif;
            font-weight: 900;
          }
          &::after {
            display: none;
            border: none;
          }
        }
      }

      .right,
      .context {
        margin-left: -15px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 400px;
        transition: flex-basis 0.5s;
        min-height: 500px;
        height: 85%;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0px 20px 20px 0px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
        &.about {
          flex-basis: 1150px;
          transition: flex-basis 0.5s;
          background-color: rgba(255, 255, 255, 1);
          height: 85%;
          padding: 2em 2.8em 2em 2.8em;
        }

        .res-container {
          display: flex;
          flex-direction: row-reverse;
          width: 100%;
          position: relative;
          flex: 1;

          .img {
            width: 19vw;
            height: 19vw;
            max-width: 340px;
            max-height: 340px;
            transition: width 0.2s, height 0.2s;
            position: absolute;
            bottom: -50px;
            right: 50px;
            border-radius: 6px;
            background-position: center;
            background-size: cover;
            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.05));
          }

          .info {
            font-family: "Teko", sans-serif;
            font-size: 2vw;
            color: black;
            text-transform: capitalize;
            line-height: 0.9;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: auto;
            width: 35%;
            height: max-content;
            position: absolute;
            bottom: 8vw;
            left: 5px;
          }
          .h3 {
            margin-left: 55px;
            &.pulsing {
              animation: fadeIn 1s ease-in-out;
            }
          }

          .h3-description {
            font-size: 12px;
            max-width: 170px;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            color: #2a2a2a;
            margin-left: 55px;
            width: 62%;
            &.pulsing {
              animation: fadeIn 0.8s ease-in-out;
            }
          }
        }
      }
    }
  }

  .bg,
  .bg2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    min-height: 600px;
    height: 100%;
    width: 40%;

    &.about {
      opacity: 1;
      height: 100%;
      width: 40%;
    }
  }
}
.bg2 {
  background-color: var(--first-color);
  opacity: 1;
  z-index: -2;
}
.bg {
  mix-blend-mode: screen;
  opacity: 0.6;
  animation: bgFade 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
