<div class="page">
    <app-menu *ngIf="showMenu"></app-menu>
    <div class="header">
        <ul (click)="toggleMenu()" class="menu">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
        <div class="logo"></div>
    </div>
    <div *ngIf="!isMobile" class="desktop-container">
        <div class="left">
            <app-list class="desktop-list" [type]="type" [list]="list" [imageUrlToAllListItem]="image" (savePlaylistEmitter)="createPlaylist($event)"></app-list>
        </div>
    
        <div class="right">
            <ul class="type-nav" >
                <li class="nav-item active" [routerLink]="['/home', time, 'artist']" [ngClass]="{active: type === 'artist'}">Top Artist</li>
                <li class="nav-item" [routerLink]="['/home', time, 'track']" [ngClass]="{active: type === 'track'}">Top Track</li>
                <li class="nav-item" [routerLink]="['/home', time, 'album']" [ngClass]="{active: type === 'album'}">Top Album</li>
                <li class="nav-item" [routerLink]="['/home', time, 'genre']" [ngClass]="{active: type === 'genre'}">Top Genre</li>
            </ul>
            <div class="res-container">
                <div *ngIf="image" class="img" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
                <div class="info">
                    <div class="h3">{{result}}</div>
                    <div class="h3-description">{{description}}</div>
                </div>
            </div>
            <div class="index-bg">
                <h1 class="index">03</h1>
                <ul class="index-check">
                    <li class="index-check-item active"></li>
                    <li class="index-check-item"></li>
                    <li class="index-check-item"></li>
                </ul>
            </div>

        </div>

    </div>

    <div *ngIf="isMobile" class="mobile-container">
        <div class="left">
            <div *ngIf="image" class="img" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
        </div>
        <div class="right">
            <app-slick-nav [type]="type" [time]="time"></app-slick-nav>
            <div class="info">
                <div class="h3">{{result}}</div>
                <div class="h3-description">{{description}}</div>
            </div>
        </div>
    </div>
    <div class="time-nav-container">
        <ul class="time-nav">
            <li class="nav-item active" [routerLink]="['/home', 'top', type]" [ngClass]="{active: time === 'top'}">All Time</li>
            <li class="nav-item"  [routerLink]="['/home', 'recent', type]" [ngClass]="{active: time === 'recent'}">Recent</li>
        </ul>
    </div>
    <app-list class="mobile-list" *ngIf="isMobile" [type]="type" [list]="list" [imageUrlToAllListItem]="image" (savePlaylistEmitter)="createPlaylist($event)"></app-list>
    <div class="bg"></div>
</div>
