<div class="container flex-col-center">
  <div class="dash flex-col-center">
    <div class="logo"></div>

    <h3 class="description">
      View your top artists, tracks, albums & genres, And discover new music
      from playlists based on them
    </h3>

    <a [routerLink]="['/about']">Learn more...</a>

    <button (click)="login()">Log in with Spotify</button>
    <h3 *ngIf="deniedPermision">
      We need your permisions to do our job sorry...
    </h3>
  </div>
</div>

<div class="bg"></div>
