app-header {
    width: 100%;
    height: 30vh;
    margin-top: 20px;
}

app-dashboard {
    margin-top: 20px;
    width: 100%;
    height: 35vh;
}

app-list {
    // margin-top: 20px;
    width: 100%;
}