.index-buttons {
  display: flex;
  position: absolute;
  width: min-content;
  left: 6vw;
  top: 52%;
  z-index: 2;

  .down,
  .up {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    background-color: var(--first-color);
    color: rgba(254, 254, 254, 0.9);
    cursor: pointer;
    &:hover {
      font-size: 1.3em;
    }
  }
  .up {
    border-radius: 0 5px 5px 0;
  }
  .down {
    border-radius: 5px 0 0 5px;
  }
}
@media only screen and (min-width: 768px) {
  .index-buttons {
    opacity: 1;
    z-index: 1;
    right: 10px;
    left: unset;
    top: unset;
    bottom: 50px;
    .down,
    .up {
      font-size: 1em;
      &:hover {
        font-size: 1.3em;
      }
    }
  }
}
