.index-bg {
  min-width: 180px;
  position: absolute;
  top: 30%;
  left: 7vw;
  z-index: 1;
  .index {
    color: black;
    font-family: "Montserrat", serif;
    font-weight: 900;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 10vw;
  }
  .index-check {
    display: flex;
    list-style: none;
    width: 12vw;
    height: min-content;
    // position: absolute;
    bottom: 3vw;
    margin-left: 1vw;
    padding: 0;
    .index-check-item {
      width: 9%;
      &::before {
        content: "";
        position: absolute;
        width: 3vw;
        height: 2px;
        background-color: grey;
        opacity: 0.5;
      }
      &.active {
        &::before {
          background-color: black;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .index-bg {
    left: 30px;
    bottom: -55px;
    top: unset;
    z-index: -1;
    .index {
      font-size: 12vw;
      top: 30px;
      position: relative;
    }
    .index-check {
      margin-left: 2vw;
      .index-check-item {
        width: 100%;
      }
    }
  }
}
