<div class="list-container">
    <div class="list-item" *ngFor="let track of tracks">
      <div class="img" [ngStyle]="{'background-image': 'url(' + track.album.images[0].url + ')'}"></div>
      <div class="info">
        <div class="text">
          <h3 class="artist-name">{{track.artists[0].name}}</h3>
          <h3 class="track-name">{{track.name}}</h3>
        </div>
        <div class="duration">
          <h3 class="track-duration">{{track.duration_ms | duration}}</h3>
        </div>
      </div>
      <hr>
    </div>
</div>
