<div class="top-color"></div>
<div class="bg-rect"></div>
<div class="page">
    
    <div class="container">
        <div class="left">
            <div class="typo">
                <h3>Welcome To Topify</h3>
                <h1>{{username}}</h1>
                <h3 class="description">Re-Visit your favourite</h3>    
                <h3 class="description">artists & tracks</h3>    
            </div>
        </div>
        <div class="right">
            <img [src]="image" alt="" class="user-photo">
        </div>
    </div>
    <span>&#9660;</span>
</div>


