
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    scroll-snap-align: start;

    .container {
        max-width: 1300px;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;

        .left { 
            display: flex;
            flex-direction: column;
            justify-content: center;

            .typo {
                height: min-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
    
                h1 {
                    margin: 0;
                    font-family: 'Teko', sans-serif;
                    margin-bottom: .1em;
                    font-size: 8vw;
                }
                h3 {
                    margin: 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    font-size: 2vw
                }
    
                .description{
                    font-size: 1.5vw;
                }
            }
        }
        .right { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .user-photo {
                // max-width: 300px;
                // max-height: 300px;
                width: 18vw;
                background-color: black;
                border-radius: 10px;
            }


        }
    }
}

span {
    font-size: 2.1vw;
    position: relative;
    bottom: 10px;
    cursor: pointer;
    transition: transform .3s;

    &:hover {
        transform: scale(1.5);
        transition: transform .3s;
    }
}

.time-nav{
    // position: absolute;
    left: calc(5%);
    bottom: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;

    .nav-item {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-left: 20px;

        &.active {
            border-bottom: 2px solid #2E2E2E;
            padding-bottom: 3px;
            font-weight: 600;
        }
    }

    
}

.top-color {
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: #FDF5F3;
}

.bg-rect {
    max-width: 736px;
    position: absolute;
    right: 0;
    top: 0;
    height: 35vw;
    min-height: 60%;
    width: 33vw;
    background-color: #82CA9C;
    opacity: 0.8;

}

