@media only screen and (min-width: 768px) {
    .mobile-bg, .user, .right {
        display: none;
    }
    .dashboard-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 90%;
        gap: 0px 0px;
        grid-template-areas: ". ." ". .";
        scroll-snap-align: start;

        .right {
            // width: 100%;
            // height: 100%;
            // grid-column: 2;
            // grid-row: 2;
            // position: relative;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            display: none;
        }
        .left {
            width: 100%;
            height: 100%;
            grid-column: 1;
            grid-row: 2;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .time-nav-container {
            width: 100%;
            height: 100%;
            grid-row: 1;
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
        }
        app-list {
            grid-column: 2;
            grid-row: 2;
        }


    }
    app-slick-nav {
        display: none;
    }



    .type-nav {
        display: block;
        flex-direction: column;
        .nav-item {
            margin-left: 0;
            width: 100%;
    
            &.active {
                border-bottom: none;
                font-weight: 600;
            }
        }
    }

}