/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: monospace;
}
.container {
    height: 100%;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}