/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: monospace;
}
.container {
    height: 100%;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}