
<app-welcome [username]="username" [image]="userImageUrl" [time]="time"></app-welcome>
<button (click)="onHandleAlert()">error</button>

<app-dashboard 
    [username]="username"
    [userId]="userId"
    [time]="time" [type]="type" 
    [result]="result"
    [description]="description"
    [image]="image"
    [list]="list"
    [playList]="playList"></app-dashboard>
<app-alert *ngIf="isError" [status]="errStatus" [message]="errMsg" (alertClose)="onHandleAlert()"></app-alert>




    
<!-- <div class="footer">
    <h3>footer</h3>
</div> -->
