app-header {
    width: 100%;
}

app-dashboard {
    width: 100%;
}

app-list {
    width: 100%;
}

ul {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    padding-top: 20px;
    cursor: pointer;

    li {
        padding: 5px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background: #070707;
            border-radius: 50%;
        }
    }
}

.logo {
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 50%;
}