@media only screen and (min-width: 768px) {
    app-welcome {
        display: block;
        height: 86vh;
    }

    app-list {
        max-height: 520px;
        width: 40vw;
        position: absolute;
        top: 100vh;
        left: 50vw;
        overflow-y: scroll;

    }

    .menu, .logo {
        position: fixed;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}