<ul class="menu">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
  <div class="logo" (click)="logout()"></div>

  <div class="header-container">
    <!-- <div #userimg class="profile_image"></div> -->
    <h1>{{username}}</h1>
  
    <ul class="nav">
      <li class="nav-item active"
      [routerLink]="['/home', 'Top', type]"
      [ngClass]="{active: time === 'Top'}">All Time</li>
      <li class="nav-item"
      [routerLink]="['/home', 'Recent', type]"
      [ngClass]="{active: time === 'Recent'}">Recent</li>
    </ul>

    <ul class="nav">
      <li class="nav-item active" [routerLink]="['/home', time, 'Artist']" [ngClass]="{active: type === 'Artist'}">Artist</li>
      <li class="nav-item" [routerLink]="['/home', time, 'Track']" [ngClass]="{active: type === 'Track'}">Track</li>
      <li class="nav-item" [routerLink]="['/home', time, 'Album']" [ngClass]="{active: type === 'Album'}">Album</li>
      <li class="nav-item" [routerLink]="['/home', time, 'Genre']" [ngClass]="{active: type === 'Genre'}">Genre</li>
    </ul>
  </div>
  
  <!-- <app-header [username]='username' class="flex-col-center"></app-header> -->
  <app-dashboard 
  class="flex-col-center"
  [time]="time"
  [type]="type"
  [result]="result"
  [description]="description"
  [image]="image">
  </app-dashboard>
  <app-list
  [type]="type"
  [list]="list"
  [imageUrlToAllListItem]="image"></app-list>
  <div class="footer">
    <h3>footer</h3>
  </div>