<div
  *ngIf="track.album"
  class="img"
  [lazyLoad]="track.album.images[0].url"
></div>
<div *ngIf="!track.album" class="img">{{ index + 1 }}.</div>
<div class="info">
  <a [href]="track.uri | safeUrl">
    <div class="text">
      <h3 *ngIf="isPreview" class="artist-name">{{ track.name }}</h3>
      <h3 *ngIf="isPreview" class="track-name">{{ track.artists[0].name }}</h3>
      <h3 *ngIf="!isPreview" class="artist-name">No preview</h3>
      <br />
    </div>
  </a>
  <div class="duration">
    <h3 class="track-duration">{{ track.duration_ms | duration }}</h3>
    <span *ngIf="!isPlaying" (click)="preview(track.preview_url)">🎧</span>
    <span *ngIf="isPlaying" (click)="stop()">⬛️</span>
  </div>
</div>
<hr />
