
<div *ngIf="track.album" class="img" [lazyLoad]="track.album.images[0].url"></div>
<div *ngIf="!track.album" class="img">{{index + 1}}.</div>
<div class="info">
    <a [href]="track.uri | safeUrl">
        <div class="text">
            <h3 class="artist-name">{{track.artists[0].name}}</h3>
            <h3 class="track-name">{{track.name}}</h3>
            <br>
        </div>
    </a>
    <div class="duration">
        <span *ngIf="track.preview_url && !isPlaying" (click)="preview(track.preview_url)">&#9658;</span>
        <span *ngIf="isPlaying" (click)="stop()" >&#9632;</span>
        <h3 class="track-duration">{{track.duration_ms | duration}}</h3>
    </div>
</div>
<hr>
