.time-nav-container {
  margin-bottom: 5%;
  margin-top: -5%;
  .time-nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 350px;

    .nav-item {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 400;
      opacity: 0.5;
      &.active {
        border-bottom: 1px solid #2e2e2e;
        padding-bottom: 3px;
        font-weight: 600;
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .time-nav-container {
    animation: fadeIn 0.5s ease-in-out;
    position: absolute;
    bottom: 15.5vw;
    right: 50px;
    .time-nav {
      width: 19vw;
      .nav-item {
        font-size: 13px;
        color: #2a2a2a;
        padding-bottom: 4px;
        &.active {
          color: black;
        }
      }
    }
  }
}
